<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="nano17_ft_sensor">
	<xacro:property name="mav_name" default="hummingbird_sensored"/>

	<!-- Include the force-torque-sensor model -->
	<xacro:include filename="$(find rotors_description)/urdf/ft_sensor.urdf.xacro"/>

	<xacro:ft_sensor parent="${mav_name}/base_link" name="FT_sensor" type="nano17">
		<origin xyz="0 0 -0.032" rpy="0 0 0"/>
	</xacro:ft_sensor>

</robot>
